@inherits Umbraco.Web.Macros.PartialViewMacroPage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    Layout = null;
    var loginModel = new LoginModel();

    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

    @using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin", null, new { @class = "form-inline" }))
    {


        @Html.ValidationSummary("loginModel", true)

        
        <div class="form-group form-group-sm">
                
                @Html.TextBoxFor(m => loginModel.Username, new { @class = "form-control input-sm", id = "LoingUsername", placeholder = ".col-xs-2" })
                @Html.ValidationMessageFor(m => loginModel.Username)
                @Html.ValidationMessageFor(m => loginModel.Username)
            
                @Html.PasswordFor(m => loginModel.Password, new { type = "password", @class = "form-control input-sm", id = "LoingPassword", placeholder = ".col-xs-2" })
                @Html.ValidationMessageFor(m => loginModel.Password)
                @Html.ValidationMessageFor(m => loginModel.Password)
        </div>
        <button class="btn btn-default btn-sm">Login</button>
        
    }